.blogBox {
    width: 30%;
    float: left;
    text-align: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;
}

.bloglist {
    background-image: url(../images/blog/blogbanner.jpg);
    background-size: 100% 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}

.blognavcolor {
    color: black;
    margin: 3%;
    margin-left: 10%;
    text-decoration: none;
}

.blogcontact {
    color: black;
    margin: 0.5%;
    position: absolute;
}

a.blognavcolor:link, a.blognavcolor:hover {
    color: white !important;
    text-decoration: none;
}

.blogboxtext{
    color:black;
}

a.blogboxtext:link, a.blogboxtext:hover{
    color: black !important;
    text-decoration:none;
}

.read-more {
    margin: 5%;
    background-color: #35A3F4;
    padding: 3%;
    width: 40%;
    margin-left: 30%;
}

.read-more-text {
    color: white
}