.width-90{
    width:90%;
}
.width-15{
    width:15%;
}
.width-20 {
    width: 20%;
}
.width-30{
    width:30%;
}
.width-40 {
    width: 40%;
}
.width-50{
    width:50%;
}
.width-60 {
    width:60%;
}
float-l{
    float:left;
}
.width-100{
    width:100%;
}

.mt5 {
    margin-top: 5%;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainbannerbox {
    padding-top: 15%;
    padding-bottom: 15%;
}

.mainbannerstyle {
    color: white;
    position: relative;
}

.mainbannertitle {
    font-size: 5vw;
    letter-spacing: 5px;
}
.mainbannertext {
    font-size: 2.3vw;
}

.navcolor {
    color: white !important;
    margin: 3%;
    margin-left: 10%;
    text-decoration: none;
}

a.nav-link:link, a.nav-link:hover {
    color: white !important;
    text-decoration: none;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.video-container {
    width: 100%;
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 24pt;
}

section {
    width:100%;
    height: 100vh;

}

.arrowimg{
    width:50px;
    height:auto;
}
.bannerarrowbox {
    position: absolute;
    top: 15%;
    left: 43%;
}

.arrowtext{
    color: white;
    text-decoration:none;
}
.bannerarrowbox:link, .bannerarrowbox:hover {
    text-decoration: none;
}

.arrowtext:link, .arrowtext:hover {
    color: yellow;
}
html {
    scroll-behavior: smooth;
}

.mobile-video {
    display: none;
}

/* Technical skills*/
.techskillbox {
    float: left;
    width: 100%;
    margin-bottom: 5%;
}

.techicon {
    width: 5% !important;
    height: auto;
    margin-right: 5%;
}
tbody {
    line-height: 15px;
}
.techtext {
    margin-left: 25px;
    color: #393939;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 2vw;
}
.fade{
    opacity:0;
}

.border-left-box-tech {
    border-left: 5px solid black;
    overflow: hidden;
}


.tech {
    background-color: #F4F4F4;
    color: #393939;
    padding: 6%;
    padding-left: 10%;
}
.progress {
    width: 100%;
    background-color: #ddd;
    height: 30px;
}

.bar {
    width: 1%;
    height: 30px;
    background-color: #393939;
}

thead {
    font-weight: bold;
    text-align: center;
    margin: 10%;
    line-height: 5;
    font-size: 20px;
}

.langtext {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

#myBarValue {
    border: none;
    background: white;
    width: 4%;
}

/* About Me */
.aboutme {
    background-image: url('../images/mainpage/aboutme/Group 9.png');
    color: white;
    padding: 10%;
}

.border-left-box-aboutme {
    border-left: 5px solid white;
    overflow:hidden;
}

.about-title-box {
    padding: 1%;
    padding-left: 7%;
}
.abouttitle {
    font-size: 5vw;
    letter-spacing: 5px;
    font-weight: bold;
}
.changetext {
    color: white;
    position: relative;
}
.about-text-title {
    font-size: 2.6vw;
    margin-bottom: 7%;
}
.abouttext {
    font-size: 1.7vw;
    margin-bottom: 7%;
}

.floatleft {
    float: left;
}

#changing_text {
    border-bottom: 2px solid white;
}


/*project*/
.project {
    background-color: #393939;
    color: white;
    padding: 6%;
    padding-left: 10%;
}
.projecttitle {
    font-size: 5vw;
    letter-spacing: 5px;
    font-weight: bold;
    margin-bottom: 5%;
    padding: 1%;
    padding-left: 7%;
}
.project-item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 7%;
}
.project-item-title {
    font-size: 2.5vw;
    font-weight: bold;
}
.project-item-text {
    font-size: 1.5vw;
    line-height: 20px;
    padding-left: 5%;
    margin-top: 10%;
    margin-bottom: 25%;
}
.border-left-box-project {
    border-left: 5px solid white;
    overflow: hidden;
}
.project-button {
    color: white;
    background-color: #35A3F4;
    padding: 5%;
    font-weight: bold;
}
.project-button:hover .project-button:active{
    text-decoration:none;
    color:white;
}

/* Contact */

.contact {
    background-color: black;
    color: white;
    padding: 4%;
    padding-left: 10%;
}
.contact-box{
    padding: 1%;
    padding-left: 7%;
}
.contact-title {
    font-size: 5vw;
    margin-bottom: 15%;
    letter-spacing: 5px;
    font-weight: bold;
}
.contact-name {
    font-size: 2.5vw;
}
.contact-text {
    font-size: 1.5vw;
}
.contact-detail-box {
    margin-bottom: 20%;
}
.icon-width {
    margin-right: 10%;
}
.slider {
    display: none;
    opacity: 1;
}

.copy {
    margin-top: 15%;
}
.download-icon {
    width: 25%;
}
.contact-text{
    font-size:1.5vw;
}
.contact-textbox {
    font-size: 1.5vw;
    margin-bottom: 5%;
}
.email-form {
    padding: 5%;
}

.contact-button {
    color: white;
    background-color: #35A3F4;
    padding: 3%;
    font-weight: bold;
    padding-left: 7%;
    padding-right: 7%;
}



@media(max-width: 800px) {
    .desktop-video{
        display:none;
    }
    .mobile-video{
        display:block;
    }
}


.fade1 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

