@model List<MyWebBlog.ViewModel.BlogListViewModel>

@{
    ViewData["Title"] = "Index";
    <link href="~/css/BlogList.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white navstyle">
    <div class="container-fluid">
        <a class="navbar-brand blognavcolor naviconbox" asp-area="" asp-controller="Home" asp-action="Index"> RYAN LEE  |  <img class="nameicon" src="~/images/mainpage/icon/idea2.png" /> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse navtextstyle">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark blognavcolor" href="~/#aboutme">ABOUT ME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark blognavcolor" href="~/#project">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark blognavcolor blog" asp-area="" asp-controller="Blog" asp-action="Index">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark blognavcolor" href="~/#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="bloglist">
    <h1>&lt;&gt; My Blog &lt;/&gt;</h1>
    <h3>Ryan's Development Note</h3>
</div>

<div class="overflow-hidden">
    @foreach (var item in Model)
    {
        <div class="shadow blogBox">
            <a class="blogboxtext" href=@Url.Action("BlogDetail", "Blog", new { @id = item.Id })>
                <img src=@item.Thumbnail style="width: 100%; height: auto;">
                <p>@item.Author | @item.Date</p>
                <h5>[ @item.Language ]</h5>
                <h3> @item.Title</h3>
            </a>
            <div class="read-more">
                <a class="read-more-text" href=@Url.Action("BlogDetail", "Blog", new { @id = item.Id })>Read More</a>
            </div>
        </div>
    }
</div>